<div ng-controller = "newController">
	    <!-- TABLE TO SHOW ALL FRIENDS IN THE DATABASE BASIC_MONGOOSE/FRIENDS -->
  <div class="container">
  <table>
    <thead>
      <th>Name</th></div>
      <th>Date of Birth</th></div>
      <th>Show</th>
      <th>Update</th>
      <th>Delete</th>      
    </thead>
    <tbody ng-repeat = "objFriends in friends">
      <tr ng-repeat = "friend in objFriends">
        <td> {{ friend.name }} </td>
        <td> {{ friend.dob | date: "MMM dd, yyyy" }} </td>
        <td><a href="#/show/{{friend._id}}">Show</a></td>
        <td><a href="#/edit/{{friend._id}}">Edit</a></td>
        <td><a href="" ng-click="delete(friend._id)">Delete</a></td>
      </tr>
    </tbody>     
  </table>
  </div>   
</div>